body {
    background-color: rgb(155, 163, 163);
    margin-left: 10px;
    margin-right: 10px;
}
img {
    border-radius: 75%;
}

hr {
    border-top: 2px dashed rgb(0, 0, 0);
}

.kontaks {
    text-align: center;
    font-family : Source Sans Pro;
    font-size: 1.5em;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
}

.footy {
    font-family: Source Sans Pro;
    font-size: 2em;
    font-weight: lighter;
}